/** #example {
    width: 100px;
    height: 100px;
    background-color: red;
    padding-top: 100px;
}
#example2 {
    width: 100px;
    height: 100px;
    background-color:blue;
    padding-right: 100px;
} 
**/
/*#parent {
    
    background-color: red;
    display: inline-block;
    padding: 10px;

}
#child1 {
    width: 100px;
    height: 100px;
    background-color: blue;
    

}
#child2 {
    width: 100px;
    height: 100px;
    background-color: green;
    

}*/
   /* 
    #parent {
        width: 300px;
        height: 300px;
        background-color: red;
        position: relative;    
    }
    #child1 {
        width: 100px;
        height: 100px;
        background-color: blue;
        position: absolute;
        right: 0;

        
    }
    #child2 {
        width: 100px;
        height: 100px;
        background-color: green;
        position: absolute;

    }
        #child3 {
            width: 100px;
            height: 100px;
            background-color: yellow;
            position: absolute;
            bottom: 0;

            
            
        }
        #child4 {
            width: 100px;
            height: 100px;
            background-color: purple;
            position: absolute;
            bottom : 0;
            right: 0;
*/

#parent{
	background-color: red;
	width: 300px;
	height: 300px;
  position: relative;
}

.child {
	width: 100px;
	height: 100px;
    position: absolute;
}

#child1 {
	background-color: blue;
}

#child2{
  right: 0;
	background-color: green;
}

#child3 {
  bottom: 0;
  background-color: gold;
}

#child4 {
  bottom : 0;
  right: 0;
  background-color: purple;
}

#child5 {
    margin: 100px; ;
    background-color:white;
  }