/* .box {
  height: 50px;
  width: 50px;
  background-color: blue;
  background-color: orangered;
  border: 1px solid black;
  display: inline-block;
}

button {
  box-shadow: 1px 1px green;
} */

//**
.box #first  {
  height: 50px;
  width: 50px;
  background-color: orangered;
  border: 1px solid black;
  display: inline-block;
}
.box #second  {
  height: 50px;
  width: 50px;
  background-color: orangered;
  border: 1px solid black;
  display: inline-block;
}
button {
  box-shadow: 1px 1px green;
}
**/


#container {
  width: 153px;
  height: 131px;
  background-color: lightgrey;
  font-family: sans-serif;
  box-shadow: 2px 2px 5px black;
}